
params {
	// Where the running scripts are located 
	SCRIPTHOME = "/home/houcemeddine/BILIM/SWAAT/scripts/"

	// List of uniprot codes (one column with a header)
	PROTLIST = "/home/houcemeddine/BILIM/SWAT/list.csv"

	// PDB files 
	PDBFILESPATH="/home/houcemeddine/BILIM/testing_SWAAT/PDBs"

	// name and path of the output directory
	params.OUTFOLDER="/home/houcemeddine/BILIM/testing_SWAAT/myoutput"

	// 'false' if you don't want to calculate PSSMs for each protein
	calculate_PSSM = true

	// 'false' if you don't want to calculate the hotspot islands
	calculate_hotspots = true

	// path to FTMAP files 

	// Parameters that have to be set to run the calculation of PSSM (to run PRODRES pipeline) 
	// of each sequence
	PRODRESPATH = '/home/houcemeddine/modules/PRODRES/PRODRES'
	PRODRESDB = '/home/houcemeddine/modules/PRODRES/db/prodres_db.nr100.sqlite3'
	PRODRESPFAMSCAN = '/home/houcemeddine/modules/PRODRES/PfamScan/pfam_scan.pl'
	UNIREF90 = '/home/houcemeddine/modules/PRODRES/db/uniprot/uniref90.fasta'
	PFAM = '/home/houcemeddine/modules/PRODRES/db/pfam'

	
}


profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }

    // For execution on a PBS scheduler, no containerization.
    pbs {
        process.executor = 'pbs'
        process.queue = 'batch'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.cpus = '4'
        process.memory = '8G'

    }

}
