// outputfolder
params.OUTFOLDER='structuralAnalysis'

// workflow HOME
params.HOME = "/home/houcemeddine/collaboration/ADME_PGx/ADME/strucAnalysis"

// mutation input files
params.listmut="/home/houcemeddine/collaboration/ADME_PGx/ADME/strucAnalysis/exampleInput/variants.dat"

listOfPDBs = Channel.fromPath("${params.HOME}/data/PDBs/*.pdb")

params.PATH2PDBs ="${params.HOME}/data/PDBs"